@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #17181f;
  color: #fff;
  padding: 2rem;
  /* overflow: hidden; */
}

.config-view {
  background-color: #686ca4;
  width: 34px;
  height: 34px;
  border-radius: 8px;
  border: none;
  margin-left: 10px;
  cursor: pointer;
}

.config-view:hover {
  background-color: #6e72ad;
}

.config-edit {
  background-color: #dc9f47;
  width: 34px;
  height: 34px;
  border-radius: 8px;
  border: none;
  margin-left: 10px;
  cursor: pointer;
}

.config-edit:hover {
  background-color: #ebaa4c;
}
